*{
    margin: 0;
    padding: 0;
}
.navbarContent{
    display: grid;
    grid-template-columns:1fr 4fr;
    grid-template-rows:50px 2fr;
    gap: 0.2em;
    grid-template-areas:
    "car car"
    "logo navegate"
    "logo navegate "
    "logo navegate ";

}
.car{
    grid-area: car;
    background-color: rgb(237, 250, 255);
    border-radius: 0 0 0.7em 0.7em;
    overflow: hidden;
    border: 1px solid blanchedalmond;
    
}
.navegate{
    grid-area: navegate;
    background-color: brown;
}
.logoPage {
    grid-area: logo;
    background-color: rgb(255, 255, 255);
}