html,
body {
    height: 100%;
    margin: 0;
}
.grid-container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 200px;
    grid-template-areas:
    "item1 item1 item1 item2"
    "item1 item1 item1 item2"
    "item1 item1 item1 item3"
    "item4 item4 item4 item3";
    gap:1em;
 

}
.item1{
    grid-area: item1;
    padding: 2em;
    background-color: brown;
    color:white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
}
.item2{
    grid-area: item2;
    padding: 2em;
    background-color: brown;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
}
.item3 {
    grid-area: item3;
    padding: 2em;
    background-color: brown;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
}

.item4 {
    grid-area: item4;
    background-color: brown;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
}

@media (max-width: 56em){
    .grid-container{
        grid-template-areas:
            "item1 item1"
            "item1 item1"
            "item1 item1"
            "item2 item3" 
            "item2 item3"
            "item4 item4";
    }
}
   