.promoContainer{
    
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap:1em;

}
.promoText{
    font-size: 12px;
    font-weight: 600;
}
.iconPromo{
    margin-left: 1em;
    color: orange;
}