#root {
  max-width: 77rem;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
    
  
}
.container{
  display: grid;
  grid-template-columns:repeat(50,1fr);
  grid-template-rows:repeat(86,20px);
  gap:0.4rem;
  
  background-color: rgb(240, 240, 240);

}

header{
  grid-column:1/-1;
  grid-row:1/3;
  background-color: black;

}
.navBar{
    grid-column: 1/-1;
    grid-row: 3/6;
    background-color: black;
}
.slidePrincipal{
      grid-column: 1/-1;
      grid-row: 6/20;
      background-color: black;
}

.navBar2 {
  grid-column: 1/-1;
  grid-row: 20/23;
  background-color: black;
}
.slideSecundario {
  grid-column: 1/-1;
  grid-row: 23/33;
  background-color: black;
}
.slideTerceiro {
  grid-column: 1/-1;
  grid-row: 33/40;
  background-color: black;
}
.slideQuarto {
  grid-column: 1/-1;
  grid-row: 40/47;
  background-color: black;
}
.slideQuinto {
  grid-column: 1/-1;
  grid-row: 47/61;
  background-color: black;
}
.slideSeixto {
  grid-column: 1/-1;
  grid-row: 61/72;
  background-color: black;
}
.slideSetimo {
  grid-column: 1/-1;
  grid-row: 72/75;
  background-color: black;
}

.slideOitavo {
  grid-column: 1/-1;
  grid-row: 75/85;
  background-color: black;
}
.navBar3 {
  grid-column: 1/-1;
  grid-row: 85/87;
  background-color: black;
}