*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.app{
    min-height:100vh;
    background-color: rgb(255, 255, 255);

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto 1fr auto;
    grid-template-areas:
    "nav nav"
    "main main"
    "footer footer";
    grid-gap:0.2rem;

        padding-left: 3em;
        padding-right: 3em;
}

nav{
 top: 0;
 position: sticky;
 grid-area: nav;
 background-color: rgb(255, 255, 255);
}
main{
 grid-area: main;
 background-color: brown;
}
footer{
 grid-area: footer;
 padding: 15rem;
 background-color: cadetblue;
}