html,
body {
    height: 100%;
    font-size: 15px;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
}

.grid-container{
 display: grid;
 grid-template-columns:repeat(20, 1fr); 
 grid-template-rows: repeat(100, minmax(50px,auto)); 
 grid-gap: 0.5rem;
 height:100vh;
 text-align: center;
}

.item-1{
    grid-column: 1/-1;
    grid-row: 1/2;

    background-color: brown;
    border:2px solid black ;
  
}
.item-2 {

    grid-column: 1/-1;
    grid-row: 2/10;

    background-color: rgb(61, 56, 56);
    border: 2px solid rgb(32, 31, 31);

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, minmax(50px, auto));
    grid-gap: 0.5rem;
}
.item2-1 {
        border-radius: 10px;
    grid-column: 1/5;
    grid-row: 1/7;
    background-color: rgb(219, 211, 211);
    border: 2px solid black;
}
.item2-2 {
        border-radius: 10px;
    grid-column: 5/7;
    grid-row: 2/7;
    background-color: rgb(219, 211, 211);
    border: 2px solid black;
}
.item2-3 {
        border-radius: 10px;
    grid-column: 7/9;
    grid-row: 1/5;
    background-color: rgb(219, 211, 211);
    border: 2px solid black;
}
.item2-4 {
        border-radius: 10px;
    grid-column: 7/9;
    grid-row: 6/9;
    background-color: rgb(219, 211, 211);
    border: 2px solid black;
}
.item2-5 {
        border-radius: 10px;
    grid-column: 1/3;
    grid-row: 7/8;
    background-color: rgb(219, 211, 211);
    border: 2px solid black;
}






.item-3 {
    grid-column: 1/-1;
    grid-row: 10/11;
    background-color: brown;
    border: 2px solid black;
}
.item-4 {

    grid-column: 1/-1;
    grid-row: 11/17;

    background-color: brown;
    border: 2px solid black;
}
.item-5 {
    grid-column: 1/-1;
    grid-row: 17/27;
    background-color: brown;
    border: 2px solid black;
}
.item-6 {
    grid-column: 1/-1;
        grid-row: 27/36;
    background-color: brown;
    border: 2px solid black;
}
.item-7 {
    grid-column: 1/-1;
    grid-row: 36/44;

    background-color: brown;
    border: 2px solid black;
}
